*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.igrock{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    background-color: #fff;
}

.game_space{
    position: relative;
    width: 1000px;
    height: 500px;
    background-color: #00aaff;
}
.apple{
    background-color: red;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}