*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tahoma";
    font-size: 13px;
    text-decoration: none;
    font-weight: 400;
    list-style: none;
    color: #000;
}
body{
    padding: 50px 100px;
}
div.serch-filed{
    display: inline-block;
    width: 300px;
}
.serch-filed.active .drop-menu{
    opacity: 1;
    visibility: visible;
    transform: none;
} 
.name-input{
    display: block;
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
}
.name-input{
    border-color: #000;
}
.serch-filed .drop-menu{
    transition: all 0.3 ease;
    opacity: 0;
    visibility: hidden; 
    transform: translateY(10%);
    border-radius: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 3px 6px rgba(0,0,0, .16);
    max-height: 300px;
    overflow-y: auto;
}
.serch-filed .drop-menu > ul{
    padding: 7px 0;
}
.serch-field .drop-menu > ul > li {
    display: block;
    padding: 7px 15px;
    cursor: pointer;
}
.serch-field .drop-menu > ul > li:hover {
    background-color: #eee;
}
.serch-field .drop-menu > ul .not-found{
    background-color: #fff;
    color: rgba(0, 0, 0, 0.589);
    cursor: default;
  }
  
.serch-field .drop-menu > ul .not-found:hover{
    background-color: #fff;
}
  


